<%- include('./partials/header.ejs') %>
    <section id="section1"> 
        <h1>About Us</h1>
        <h2 id="header1">A treasure hunt for hidden gems, each with their own story to tell</h2>
        <h2 id="header2">Our Vintage trading allows you to own unique items from the past and fulfill your childhood dreams</h2>
    </section>
<%- include('./partials/footer.ejs') %>



























